<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p><%= @category.name %>に<%= @learning_data.skill %>を</p>
        <p><%= @learning_data.time %>分で追加しました！</p>
      </div>
      <div class="modal-footer">
        <%= link_to "編集ページに戻る", edit_user_skill_path(@user, @category, @learning_data), class: "button_blue" %>
      </div>
    </div>
  </div>
</div>
