<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      以下のエラーが発生しました <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul class="mb-0">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
