// ユーザー新規登録ページ

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  background-color: #1B5678;
  height: 120px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
}

h1{
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-top: 30px;
}

.button_white {
  width: 152px;
  height: 53px;
  margin-top: 32px;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.signup-container {
  margin: 50px auto;
}

h2 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 64px;
}

.input-group {
  width: 480px;
  text-align: left;
  position: relative;
  top: 72px;
}

.input-group input {
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 1px solid gray;
}

.input{
  padding-bottom: 48px;
  width: 100%;
}

.input label{
  color: gray;
}

#user_name{
  font-size: 18px;
  font-family: Roboto;
}

#user_email{
  font-size: 16px;
  font-family: Roboto;
}

#user_password{
  font-size: 48px;
}

.button_blue_new_wrapper{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.button_blue_new {
  width: 232px!important;
  height: 53px!important;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.button_blue {
  width: 232px!important;
  height: 53px!important;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

footer {
  background-color: #1B5678;
  color: white;
  height: 40px;
  justify-content: space-between;
  margin-top: 600px;
}

footer p {
  font-family: Roboto;
  font-size: 18px;
  padding-top: 7px;
  margin: 0;
  text-align: center;
}

.error-message {
  color: red;
}

// ユーザーログインページ

h3 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin: 30px auto;
}

.login-container{
  margin: 20px auto;
}

.button_login{
  display: block;
  width: 232px!important;
  height: 53px!important;
  margin: 0 auto;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button_new{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 232px!important;
  height: 53px!important;
  margin: 53px auto;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

#flash-messages {
  color: red;
}


// TOPページ

h3 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin: 30px auto;
}

.button_logout {
  width: 152px;
  height: 53px;
  margin-top: 32px;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.toppage-container{
  margin: 50px auto;
}

.profile-group{
  margin-top: -50px;
  padding: 80px 0px;
  display: flex;
}

.profile{
  width: 960px;
  height: 360px;
  display: flex;
}

.avatar{
  display: block;
  justify-content: center;
  align-items: center;
}

.avatar-image {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-default {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-name{
  font-family: Roboto;
  font-size: 20px;
  color: #000000;
  margin-top: 32px;
  text-align: center;
}

.content{
  padding-left: 82px;

  h4{
    font-family: Roboto;
    font-size: 36px;
    margin-left: 0;
    width: 240px;
    height: 58px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.75);
    padding-bottom: 10px;
  }

  .text{
    font-family: Roboto;
    font-size: 18px;
    margin-top: -16px;
    color: rgba(0, 0, 0, 0.75);
    width: 520px;
    // height: 81px;
    overflow-wrap: break-word;
  }
}

.button_myedit{
  display: block;
  width: 232px!important;
  height: 53px!important;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: -42px;
}

.chart-group{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: -120px;
  gap: 60px;
}

.input-group3{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400px;
  text-align: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.75);
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.button-edit{
  display: block;
  width: 152px!important;
  height: 53px!important;
  margin: 0 auto;
  width: 40px;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


//自己紹介編集ページ

.input-group2{
  width: 960px;
  height: 342px;

  label{
    color: rgb(100, 100, 100);
    font-size: 12px;
  }
}

.field-title{
  color: rgb(100, 100, 100);
  font-size: 12px;
}

.text-field{
  width: 480px;
  height: 145px;
  margin: 0 auto;

  input{
    width: 480px;
    height: 95px;
    margin: 0 auto;
  }
}

#introduction{
  width: 480px;
  height: 95px;
  display: block;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid black;
  resize: none;
  cursor: pointer;
}

.image-field{
  height: 48px;
  margin: 0 auto;
  margin-top: 48px;

  label{
    display: block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius:4px;
    width: 202px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  label:hover {
    opacity: 0.8;
  }

  #image {
    display: none;
  }
}

.file-name{
  color: rgb(100, 100, 100);
  font-size: 12px;
}

.button-profile{
  display: block;
  width: 322px!important;
  height: 53px!important;
  margin: 0 auto;
  width: 40px;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 64px;
}

#file-name{
  color: rgb(100, 100, 100);
  font-size: 12px;
}


//skill編集ページ

header h6 a{
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  text-align: center;
}

.wrapper-skill{
  margin: 40px auto;
}

.select-box{
  display: block;
}

.category{
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 960px;
  height: 436px;
  padding: 40px;
  margin: 40px auto;

  .content{
    padding:0;

    .title-group{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title{
        width: 240px;
        height: 44px;
        font-size: 24px;
        font-weight: 700;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
      }

      .button_blue{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        text-decoration: none;
      }
    }

    .table-group{
      border-collapse: collapse;
      border-radius: 4px 0px 0px 0px;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
      margin: 32px 0;
      text-align: left;

      th{
        height: 32px;
        width: 240px;
        padding: 16px 32px 16px 52px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.87);
        font-family: Roboto;
        border-bottom: 1px solid #ddd;
        border-top: 0.3px solid #ddd;
      }

      td{
        height: 62px;
        padding: 16px 16px 16px 48px;
        font-family: Roboto;
        border-bottom: 1px solid #ddd;
        border-top: 0.3px solid #ddd;

        .time-select-area{
          position: relative;
          display: inline-block;
          width: auto;

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            margin: 0;
            -webkit-appearance: none;
          }

          .__arrow {
            position: absolute;
            top: calc(50% - 12px);
            right: 10px;
            transform: translate(0px, -30%);
            display: inline-block;
            border-width: 6px 6px;
            border-style: solid;
            border-color: transparent transparent gray;
            cursor: pointer;
          }

          .__arrow.__down {
            top: calc(50% + 7px);
            border-bottom: 6px solid transparent;
            border-top: 6px solid gray;
          }

          .time-select{
            height: 40px;
            border: 1px solid rgb(112, 112, 112);
            border-radius: 5px;
            appearance: none;
            padding-right: 48px;
            padding-left: 24px;
            color: rgba(0, 0, 0, 0.54);
            font-size: 14px;
            max-width: 150px !important;
          }
        }

        .button-blue-save{
          background-color: white;
          color: rgba(27, 86, 120, 1);
          border: 1px solid rgba(27, 86, 120, 1);
          padding: 6px 14px;
          cursor: pointer;
          border-radius: 4px;
        }

        .button-red{
          background-color: rgba(238, 105, 105, 1);
          color: white;
          border: none;
          padding: 8px 16px;
          cursor: pointer;
          border-radius: 4px;
        }
      }
    }
  }
}

//ドロップダウンメニューのスタイル
.month-select-area{
  position: relative;
  text-align: left;
  margin-left: 0;
}

.pull-down-button {
  -webkit-appearance: none;
  appearance: none;
  padding: 6px 12px;
  background-color: #ffffff;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  text-align: left;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 700;
}

.month-select-area::after {
  content: "";
  position: absolute;
  left: 76px;
  top: 20px;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 10px solid black;
  border-bottom: 0;
  cursor: pointer;
}

.pull-down-button:hover {
  background-color: rgba(221, 221, 221, 1);
}


//項目追加ページ

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 20px;

  .form-group{
    width: 480px;

    .form-field{
      margin-top: 64px;

      .skill-title{
        color: gray;
      }

      .form-control {
        width: 100%;
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
        background-color: transparent;
        color: black;
        font-size: 16px;
        padding: 5px 0;
        border-radius: 0;
      }
    }
  }
}


//モーダル表示
.modal-dialog{

  .modal-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 240px;
    display: flex;
    border: none;

    .modal-body{
      margin-top: 20px;

      p{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-top:20px;
      }
    }

    .modal-footer{
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      text-decoration: none;
      border: none;

      .button_blue_modal{
        width: 192px!important;
        height: 48px!important;
        background-color: #1B5678;
        color: white;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


// チャート
.chart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myChart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}