// ユーザー新規登録ページ

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  background-color: #1B5678;
  height: 120px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
}

h1{
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-top: 30px;
}

.button_white {
  width: 152px;
  height: 53px;
  margin-top: 32px;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.signup-container {
  margin: 50px auto;
}

h2 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.input-group {
  width: 480px;
  text-align: left;
  position: relative;
  top: 72px;
}

.input-group input {
  width: 100%;
  height: 36px;
  border: none;
  border-bottom: 1px solid gray;
}

.input{
  padding-bottom: 48px;
}

.input label{
  color: gray;
}

#user_name{
  font-size: 18px;
  font-family: Roboto;
}

#user_email{
  font-size: 16px;
  font-family: Roboto;
}

#user_password{
  font-size: 48px;
}


.button_blue {
  display: block;
  width: 232px!important;
  height: 53px!important;
  margin: 12px auto;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: #1B5678;
  color: white;
  height: 40px;
  justify-content: space-between;
  margin-top: 600px;
}

footer p {
  font-family: Roboto;
  font-size: 18px;
  padding-top: 7px;
  margin: 0;
  text-align: center;
}

.error-message {
  color: red;
}

// ユーザーログインページ

h3 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin: 30px auto;
}

.login-container{
  margin: 20px auto;
}

.button_login{
  display: block;
  width: 232px!important;
  height: 53px!important;
  margin: 0 auto;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button_new{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 232px!important;
  height: 53px!important;
  margin: 53px auto;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

#flash-messages {
  color: red;
}


// TOPページ

.button_logout {
  width: 152px;
  height: 53px;
  margin-top: 32px;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.toppage-container{
  margin: 50px auto;
}

.profile-group{
  padding: 80px 0px;
  display: flex;
  // justify-content: center;
}

.profile{
  width: 960px;
  height: 360px;
  display: flex;
}

.avatar{
  display: block;
  justify-content: center;
  align-items: center;
}

.image{

}

.avatar-image {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-default {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-name{
  font-family: Roboto;
  font-size: 20px;
  color: #000000;
  margin-top: 32px;
  text-align: center;
}

.content{
  text-align: left;
  margin-left: 80px;
  width: 520px;
  height: 256px;
  position: relative;
}

h4{
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400px;
  margin-left: 0;
  width: 240px;
  height: 58px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.75);
  padding-bottom: 10px;
}

.text{
  font-family: Roboto;
  font-size: 18px;
  margin-top: -16px;
  color: rgba(0, 0, 0, 0.75);
}

.button_myedit{
  display: block;
  width: 232px!important;
  height: 53px!important;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: -42px;
}

.chart-group{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: -84px;
}

.chart-frame{

}

.input-group{
  width: 400px;
  height: 151px;
}

h5 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400px;
  text-align: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.75);
  padding-bottom: 10px;
}

.button-edit{
  display: block;
  width: 152px!important;
  height: 53px!important;
  margin: 0 auto;
  width: 40px;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.chart-title{
  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 164px;
  color: rgb(100, 100, 100);
}


//skillページ

.button-profile{
  display: block;
  width: 322px!important;
  height: 53px!important;
  margin: 0 auto;
  width: 40px;
  background-color: #1B5678;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
